@font-face {
    font-family: 'poppins-light';
    src: url(/Poppins/Poppins-light.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-regular';
    src: url(/Poppins/Poppins-regular.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-meduim';
    src: url(/Poppins/Poppins-Medium.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-bold';
    src: url(/Poppins/Poppins-bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url(/Poppins/Helvetica.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url(/Poppins/Helvetica-Bold.ttf);
    font-weight: bold;
    font-style: normal;
    color: #000;
}

@font-face {
    font-family: 'Freesans';
    src: url(/Poppins/FreeSans.ttf);
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
    transition: .8s all ease;
}

body {
    color: #0a0922;
    scrollbar-width: #5138ed;
    scroll-behavior: smooth;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}



.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: 'Helvetica';
    background-color: #ffffff;
    border-bottom: 1px solid #00010113;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.logo {
    width: 110px;
}

.nav-links {
    transition: 0.7s ease;
    color: #262626;
    font-weight: 400;
    font-size: 13px;
}

.hambuger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #262626;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.search-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.add{
    width: 27px;
}

.nav-right-img {
    width: 16px;
}

.search1 {
    display: none;
}

.nav-right a{
    font-size: 13px;
    color: #262626;
    font-weight: 400;
}
.nav-left-reponsiveness{
    display: flex;
    align-items: center;
    gap: 1rem;
    display: none;
}

.nav-items:before {
    position: absolute;
    content: '';
    left: 0;
    top: 25px;
    width: 100%;
    height: 4px;
    background: #262626;
    transform: scaleX(0);
    transform-origin: right;
    transition: 1s;
    z-index: 9999;
}

.nav-links:hover:before {
    transform: scaleX(1);
    transform-origin: left;

}

.name {
    font-size: 20px;
    font-weight: 700;
    color: #1270FE;
    font-family: charley;
}




/* BANNER SECTION */

.banner{
    overflow-x: hidden;
}
.banner1{
    display: flex;
    padding-top: 70px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background: #c2e1fe;
    position: relative;
}


.banner1-text{
    padding-left: 6rem;
    padding-right: 1rem;
    
}

.banner1-img{
    width: 850px;
}

.banner1 h1{
    font-family: Helvetica-bold;
    font-size: 30px;
    font-weight: 600;
    width: 400px;
}

.banner1 p{
    font-family: Freesans;
    font-size: 17px;
    margin: 25px 0;
    width: 400px;
}

.btn1{
    background: #0067bb;
    color: #fff;
    font-family: Freesans;
    padding: 12px 14px;
    font-size: 14px;
    margin-right: 24px;
    border-radius: 2px;
}

.btn2{
    font-family: Freesans;
    font-size: 14px;
    color: #262626;
}

.next{
    width: 12px;
    margin-left: -5px;
}






.banner2{
    width: 100%;
    height: 78vh;
    background-image: url(/image/banner\ img\ 2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    position: fixed;
    right: 100%;
    top: 70px;
    transition: 0.7s;
}

.banner2 {
    right: -100%;
    top: 70px;
    transition: 0.8s;
}

.banner2.active {
    right: 0;
}

.banner2-text{
    padding-top: 150px;
    padding-left: 6rem;
    padding-right: 1rem;
    
}

.banner2-img{
    max-width: 850px;
}

.banner2 h1{
    font-family: Helvetica-bold;
    font-size: 30px;
    font-weight: 600;
    max-width: 400px;
}

.banner2 p{
    font-family: Freesans;
    font-size: 17px;
    margin: 25px 0;
    max-width: 400px;
}

.btn3{
    background: #0067bb;
    color: #fff;
    font-family: Freesans;
    padding: 12px 14px;
    font-size: 14px;
    margin-right: 24px;
    border-radius: 2px;
}


.btns img{
    width: 18px;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

@media (max-width: 1024px) and (min-width: 859px) {
    .search-resp a{
        display: none;
    }
    .navbar {
        padding: 0 1.7rem;
    }
    .banner1{
        flex-direction: column-reverse;
        align-items: flex-start;
        background-color: transparent;
    }
    .banner1-text{
        padding: 2rem 0 2rem 1.7rem;
        background-color: #fff;
        border: 1px solid #9f9f9f;
        margin: 0 0.7rem;
        position: relative;
        bottom: 2rem;
    }
    .banner1-img{
        width: 1030px;
    }
    .banner1 p, .banner1 h1{
        width: 975px;
    }
    

    .banner2{
        height: 50vh;
    }
}


@media (max-width: 859px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 0 2rem;
    }


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 55px;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 3rem;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        background-color: #ececec;
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    .nav-menu.active {
        left: 0;
    }

    .search1 {
        display: block;
        width: 18px;
    }

    .search2{
        display: none;
    }

    .drop-down-header{
        display: none;
    }

    .nav-left-reponsiveness{
        display: flex;
    }

    .nav-right a{
        display: none;
    }

}